# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Fichiers temporaires
.cache/
cache.json

# Données locales
data.json
filtered_reviews.json
extract.js

# Environnement
.env

# Node.js
node_modules/

# Docker
.dockerignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build React
/build

# Tests
/coverage

DEPLOYMENT_GUIDE.txt
README_Docker_Setup.txt
